<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" /><uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
 <uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.READ_CONTACTS" />
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.instagram.android" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.ubercab" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.google.android.youtube" />
    </queries>
    <application
        android:allowBackup="false"
        android:label="ALMA"
        android:theme="@style/Theme.ALMA"
        android:usesCleartextTraffic="${usesCleartext}">
               <service
            android:name=".WakeWordService"
            android:exported="false"
            android:foregroundServiceType="microphone"
            android:stopWithTask="false" /> <receiver
            android:name=".alarm.AlmaAlarmReceiver"
            android:exported="false" />

        <service
            android:name=".alarm.AlmaAlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
